.card {
  margin-bottom: 25px;
  border-color: var(--secondary);
  font-family: "Lucida handwriting", serif;
  font-size: 1.2em;
}

.card-header {
  background-color: var(--secondary);
  color: var(--white);
  font-family: "Lucida handwriting", serif;
  font-size: 1.2em;
}

.divider {
  border-color: black;
  background-color: black;
  text-align: center;
}

h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-family: "Lucida handwriting", serif;
}

.card-img-top {
  width: 400px;
  padding: 100;
  position: relative;
  left: 330px;
}
